@using Blog.DAL.DAO

@model Blog.ViewModels.PostViewModel

@{
    ViewBag.Title = Model.Title;

}


<div class="post-show">

    
    <div>
        <h3 class="post-title">@Html.DisplayFor(model => model.Title)</h3>
        <h6>@Html.ValueFor(model => model.Date, "{0:dd/MM/yyyy}")</h6>
    </div>


        <div>
            <img src="~/Images/@Html.DisplayFor(model => model.ImageUrl)" alt="" class="image-show" />
        </div>


        <div>

            
            <p>@Html.DisplayFor(model => model.Content) </p>

        </div>
        
        <div class="">
            <a asp-area="" asp-controller="Blog" asp-action="Posts">Back</a>
        </div>
        <hr />
        <div class="comments">

            <h4><i>Comments (@Model.Comments.Count()):</i></h4>

            

            <div class="postshow-commentform">


                <form asp-controller="Comment" asp-action="Create" asp-route-id="@Model.PostId" method="post" class="form-horizontal" role="form" autocomplete="off">

                    <div asp-validation-summary="All" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="FormModel.CommentAuthor" class="col-md-2 control-label">Name</label>
                        <div class="col-md-5">
                            <input name="CommentAuthor" class="form-control" />
                            <span asp-validation-for="FormModel.CommentAuthor" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="FormModel.CommentContent" class="col-md-2 control-label">Comment</label>
                        <div class="col-md-5">
                            <input name="@nameof(Comment.CommentContent)" class="form-control" />
                            <span asp-validation-for="FormModel.CommentContent" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <input type="submit" class="btn btn-contact" value="Add comment!" />
                        </div>
                    </div>

                </form>

            </div>

            @foreach (var com in Model.Comments)
            {
                
                    <div>
                        <h5 style="font-weight: 300">@com.CommentAuthor (@Html.ValueFor(model => com.CommentDate, "{0:dd/MM/yyyy}"))</h5>
                        <h6>@com.CommentContent</h6>
                        <a asp-controller="Comment" asp-action="Delete"><p>Delete</p></a>

                    </div>
                
            }


        </div>

        <hr />

        <div class="random-posts">
            <h3><i>You may also like:</i></h3>

            @foreach (Post p in ViewBag.RandomPosts)
                {
                    <a asp-controller="Post" asp-action="Show" asp-route-postId="@p.PostId">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-centered">
                            <p>@p.Title</p>
                            <p><img class="thumbnail img-responsive" src="~/Images/@p.ImageThumbnailUrl" alt="" /></p>
                        </div>
                    </a>
                 }
            </div>    
        <br />
        <br />

    

</div>
