@model Blog.ViewModels.PostViewModel

@{
    ViewBag.Title = Model.Title;

}


<div class="post-show">

    
    <div>
        <h3 class="post-title">@Html.DisplayFor(model => model.Title)</h3>
        <h6>@Html.ValueFor(model => model.Date, "{0:dd/MM/yyyy}")</h6>
    </div>


        <div>
            <img src="~/Images/@Html.DisplayFor(model => model.ImageUrl)" alt="" class="image-show" />
        </div>


        <div>

            
            <p>@Html.DisplayFor(model => model.Content) </p>

        </div>
        
        <div class="">
            <a asp-area="" asp-controller="Blog" asp-action="Posts">Back</a>
        </div>
        <hr />
        <div class="comments">
            <h4>Comments:</h4>

            @foreach (var com in Model.Comments)
            {
                <div>
                    <h4>@com.CommentAuthor</h4>
                    <h6>@com.CommentContent</h6>

                </div>
            }


            <div class="postshow-commentform">
                <a asp-area="" asp-controller="Comment" asp-action="Create">Add comment!</a>

                <p>place for comment form</p>

            </div>
        </div>

        <hr />

        <div class="random-posts">
            <h3><i>You may also like:</i></h3>

            @foreach (Post p in ViewBag.RandomPosts)
            {
                <div class="col-sm-3 col-lg-3 col-md-3 col-centered">
                    <p>@p.Title</p>
                    <p><img class="thumbnail img-responsive" src="~/Images/@p.ImageThumbnailUrl" alt="" /></p>
                </div>
            }
        </div>    
        <br />
        <br />

    

</div>
