@model Message
@{
    ViewData["Title"] = "Message sent!";
}

<h4>Your message has been sent succesfully!</h4>

<p>@Model.Sender</p><br />
<p>@Model.Email</p><br />
<p>@Model.MessageCategory</p><br />
<p>@Model.MessageTitle</p><br />
<p>@Model.MessageContent</p><br />

